name: CI

on:
  push:
    branches:
    - main

  pull_request:
    branches:
    - main

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Rust toolchain
      shell: bash
      run: rustup default stable

    - name: Rustfmt
      shell: bash
      run: cargo fmt -- --check

    - name: Clippy
      shell: bash
      run: cargo clippy

  build:
    needs: checks
    timeout-minutes: 10
    strategy:
      matrix:
         os: [windows-latest, ubuntu-latest]
         rust_version: [stable, "1.66.0"]

    runs-on:  ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2

    - name: Setup Rust toolchain
      shell: bash
      run: rustup default ${{ matrix.rust_version }}

    - name: Build
      shell: bash
      run: cargo build --locked --verbose

    - name: Run tests
      shell: bash
      run: cargo test --locked --verbose

  end-to-end-tests:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    needs: build

    steps:
    - uses: actions/checkout@v2

    - name: End-to-end tests
      shell: bash
      run: |
        cargo install --path .
        foreman --version
        PATH=$PATH:~/.foreman/bin
        ./scripts/end-to-end-tests.sh
  kill-process-test-unix:
    strategy:
      matrix:
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    needs: build

    steps:
    - uses: actions/checkout@v2

    - name: End-to-end tests
      shell: bash
      run: |
        cargo install --path .
        foreman --version
        PATH=$PATH:~/.foreman/bin
        ./scripts/kill-process-test-unix.sh
